<template>
    <require from="../resources/elements/amendment" as="amd"></require>
    <require from="../resources/elements/notfound.html"></require>
    <require from="../resources/elements/notpermitted.html"></require>
    <require from="../resources/elements/loading-page.html"></require>

    <loading-page what="Änderungsvorschlag" if.bind="!isReady"></loading-page>

    <template else>
        <notfound if.bind="notFound" missing-thing="Änderungsvorschlag Nr. ${aid}" missing-thing-title="Änderungsvorschlag"></notfound>
        <template else>
            <notpermitted if.bind="notPermitted" noun-marker="der" what="Änderungsvorschlag Nr. ${aid}" more-text="Er ist archiviert."></notpermitted>

            <template else>
                    <amd resourceid.bind="id" discussion-id.bind="did" rdata.bind="amendmentData" comments.bind="comments" amendments.bind="amendments"></amd>
            </template>
        </template>
    </template>

</template>
