<template>
    <require from="../resources/elements/loading.html"></require>

    <div class="grid-x">
        <div class="large-3 cell"></div>

        <div class="large-6 cell mainshow2">
            <!-- INNERER TEIL -->
            <div class="grid-x">

                <div class="large-12 cell" style="background: #CEF; padding: 5%;">
                    <loading what="Paragraphen von der API" plural="true" if.bind="!lawTextsAPIfinished"></loading>
                    <template else>
                        <h4>API-Texte</h4>

                        <select value.bind="lawTextsSelection">
                            <option repeat.for="lw of lawTexts" value.bind="lw.id">${lw.articleOrParagraph} - ${lw.title}</option>
                        </select>

                        <button class="button" click.trigger="submitInsert()">Einsetzen</button>

                    </template>
                </div>

                <div class="large-12 cell">
                    <h4>Titel</h4>
                    <input type="text" value.bind="dTitle">
                </div>
                <div class="large-12 cell">
                    <h4>Gesetzesnummer</h4>
                    <input type="text" value.bind="dArticle">
                </div>
                <div class="large-12 cell">
                    <h4>Gesetzestext</h4>
                    <textarea rows="5" value.bind="dLaw"></textarea>
                </div>
                <div class="large-12 cell">
                    <h4>Erklärung</h4>
                    <textarea rows="8" value.bind="dExplanation"></textarea>
                </div>

                <div class="large-12 cell">
                    <h4>Tags</h4>
                    <loading if.bind="tags.length < 1" what="Tags" plural="true"></loading>
                    <div else class="grid-x">
                        <div class="large-3 cell"></div>
                        <div class="large-6 cell">
                            <ul class="unorder-list">
                                <li repeat.for="t of tags">
                                    <label>
                                        <input type="checkbox" checked.bind="t.isSelected" /> ${t.name}
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="large-3 cell"></div>
                    </div>
                </div>

            </div>
            <!-- INNERER TEIL ENDE -->
        </div>
        <div class="large-3 cell"></div>
    </div>

</template>
