<template>
    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">


            <p>Ein Benutzer kann die INTER!ACT Plattform mit allen Funktionen nutzen wenn er sich angemeldet hat.</p>

            <h5 class="titlecolor">Registrierung</h5>
            <p>Ein Benutzer kann sich registrieren um auf der INTER!ACT Plattform mitdiskutieren zu können.<br>
                Es werden folgende Parameter benötigt:</p>

            <ul>
                <li>Vorname</li>
                <li>Nachname</li>
                <li>Benutzername</li>
                <li>E-Mail Adresse</li>
                <li>Geschlecht</li>
                <li>Geburtsdatum</li>
                <li>Wohnort</li>
                <li>Postleitzahl</li>
                <li>Höchster Bildungsabschluss</li>
                <li>Beruf</li>
                <li>Passwort</li>
            </ul>

            <h5 class="titlecolor">Anmeldung</h5>
            <p>Wenn ein Benutzer registriert ist, kann er sich Anmelden und auf der INTER!ACT Plattform
                mitdiskutieren.<br>
                Es werden folgende Parameter benötigt:</p>

            <ul>
                <li>Benutzername</li>
                <li>Passwort</li>
            </ul>


            <h5 class="titlecolor">Diskussionen öffnen</h5>
            <p>Der Benutzer kann eine Diskussion öffnen und lesen, um welchen Paragraphen es sich handelt und welche
                Erklärung ein bestimmter Experte dazu veröffentlicht hat.</p>

            <h5 class="titlecolor">Diskussionen suchen</h5>
            <p>Der Benutzer kann, durch die Eingabe eines Schlagwortes im Suchfeld, nach bestimmten Diskussionen
                suchen.</p>

            <h5 class="titlecolor">Diskussionen filtern</h5>
            <p>Der Benutzer kann Diskussionen nach Paragraphen oder Kategorien filtern. Nach anklicken des Menüpunktes
                "Diskussionen", kann ausgewählt werden, wie gefiltert werden soll.</p>

            <h5 class="titlecolor">Diskussionen kommentieren</h5>
            <p>Durch das Klicken des Kommentieren- Buttons kann der Benutzer in den einzelnen Diskussionen Kommentare
                abgeben.</p>

            <h5 class="titlecolor">Änderungsvorschläge erstellen</h5>
            <p>Durch das Klicken auf den Änderung vorschlagen- Buttons kann ein Benutzer in einzelnen Diskussionen
                Änderungsvorschläge zu den Originalparagraphen machen und somit eine neue Diskussionsreihe starten.</p>

            <h5 class="titlecolor">Diskussionen teilen</h5>
            <p>Der Benutzer kann Diskussionen auf den sozialen Netzwerken Facebook und Twitter teilen und andere
                Personen
                zum mitdiskutieren animieren. Es kann aber auch nur der Link kopiert werden und in diversen Messangers
                versendet werden. Hierzu ist es notwendig auf den "Teilen"- Button zu klicken und die jeweilige Funktion
                auszuwählen. </p>

            <h5 class="titlecolor">Diskussionen melden</h5>
            <p>Der Benutzer kann einzelne Kommentare oder Änderungsvorschläge melden, die seiner Meinung nach unpassende
                Inhalte enthalten. Hierzu ist es notwendig den Melden- Button zu klicken.</p>

            <h5 class="titlecolor">Benutzerprofil</h5>
            <p>Jeder Benutzer hat ein eigenes Profil, auf dem seine Daten und aktuellsten Diskussionen eingesehen werden
                können.</p>

            <h5 class="titlecolor">Dashboard</h5>
            <p>Auf dem Dashboard werden dem Benutzer Diskussionen angezeigt, an welchen er schon einmal mitdiskutiert
                hat
                und wo es neue Kommentare bzw. Änderungsvorschläge gibt.</p>

            <h5 class="titlecolor">Einstellungen</h5>
            <p>Der Benutzer kann in den Einstellungen alle seine angegeben Daten ändern.</p>


            <ul>
                <li>Benutzername</li>
                <li>Passwort</li>
            </ul>

            <h5 class="titlecolor">Impressum öffnen</h5>
            <p>Der Benutzer klickt ganz unten auf der Seite auf das Impressum und kann alle darin enthaltenen Inhalte
                einsehen.</p>

            <h5 class="titlecolor">AGB öffnen</h5>
            <p>Der Benutzer klickt ganz unten auf der Seite auf die AGB und kann alle darin enthaltenen Inhalte
                einsehen.</p>

            <h5 class="titlecolor">Abmelden</h5>
            <p>Der Benutzer kann sich durch anklicken des Abmelden- Buttons abmelden.</p>

        </div>
        <div class="large-3 cell"></div>
    </div>
</template>