<template>
    <require from="../resources/elements/discussion" as="dsc"></require>
    <require from="../resources/elements/notfound.html"></require>

    <template if.bind="isReady">
        <notfound if.bind="notFound" missing-thing="Diskussion Nr. ${id}" missing-thing-title="Diskussion"></notfound>

        <template else>
            <div class="grid-x">
                <dsc resourceid.bind="id" rdata.bind="discussionData" comments.bind="comments"></dsc>
            </div>
        </template>
    </template>

</template>
