<template>
    <require from="../resources/elements/discussion" as="dsc"></require>
    <require from="../resources/elements/notfound.html"></require>
    <require from="../resources/elements/notpermitted.html"></require>
    <require from="../resources/elements/loading-page.html"></require>

    <loading-page what="Diskussion" if.bind="!isReady"></loading-page>

    <template else>
        <notfound if.bind="notFound" missing-thing="Diskussion Nr. ${id}" missing-thing-title="Diskussion"></notfound>
        <template else>
            <notpermitted if.bind="notPermitted" noun-marker="die" what="Diskussion Nr. ${id}" more-text="Sie ist archiviert."></notpermitted>

            <template else>
                <div class="grid-x">
                    <dsc resourceid.bind="id" rdata.bind="discussionData" comments.bind="comments"></dsc>
                </div>
            </template>
        </template>
    </template>

</template>
