<template>
    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <div class="grid-x">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <h4>Download Bereich auswählen:</h4>
                    <input type="date" placeholder="Start-Datum:">
                    <input type="date" placeholder="End-Datum:">
                </div>
                <div class="large-3 cell"></div>
            </div>
            <div class="grid-x top-spacer">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Statistik</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn" click.trigger="saveStats()">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Benutzer-Statistik</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Kommentar-Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Diskussions-Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="large-3 cell"></div>
            </div>
        </div>
        <div class="large-3 cell"></div>
    </div>
</template>

