<template>
    <require from="../resources/elements/loading.html"></require>

    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <div class="grid-x">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <h4>Download Bereich auswählen:</h4>
                    <input type="date" placeholder="Start-Datum:" value.bind="startDate" />
                    <input type="date" placeholder="End-Datum:" value.bind="endDate" />

                    <loading if.bind="isLoading > 0" what="Daten" plural="true"></loading>
                </div>
                <div class="large-3 cell"></div>
            </div>
            <div class="grid-x top-spacer">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Statistik</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn" click.trigger="saveStatsOverall()">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Benutzer-Statistik</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Kommentar-Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Diskussions-Ratings</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="large-3 cell"></div>
            </div>
        </div>
        <div class="large-3 cell"></div>
    </div>
</template>

