<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das ist der Titel</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://use.fontawesome.com/537eab1b0e.js"></script>
</head>
<body>

<!-- ***********************************************
NAV
************************************************ -->
<!--
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
                <img src="images/INTER-ACT.png" height="15px" />
                <li class="navbar"><a href="#">Dashboard</a></li>
                <li class="navbar"><a href="#">Diskussion</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="navbar"><input type="search" placeholder="Search"></li>
                <li class="navbar"><button type="button" class="button">Search</button></li>
                <li class="navbar"><a href="www.orf.at"><i class="fa fa-cog" aria-hidden="false"></i></a></li>
            </ul>
        </div>
    </div>

-->

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <img src="images/INTER-ACT.png" height="15px" />
            <li class="navbar"><a href="#">Dashboard</a></li>
            <li class="navbar"><a href="#">Diskussion</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
            <li class="navbar"><a href="www.orf.at"><i class="fa fa-cog" aria-hidden="false"></i></a></li>
        </ul>
    </div>
</div>

<!-- ***********************************************
MAIN
************************************************ -->


<div class="grid-x">
    <div class="large-3 cell"></div>

    <div class="large-6 cell mainshow">
        <h3>§ Kunst in der Öffentlichkeit</h3>

        <div class="grid-x">

            <div class="large-2 cell"></div>

            <div class="large-8 cell showparagraph">
                <h4>Gesetz</h4>
                <p>wueivbe nwvc wes rewijfo jfwjfopj jiof iowefJOEF Üw jfe 30q  wjf0dew0 f fj0 jg0ejrü a j fj<br>
                cidosovidsov  osdjovisdaoj ids püwed psdhjvfv he8es  psac+pvj p psp csdpj cs jcj pcpj üs +jc+ <br>
                divhbofdhv ds jscpjsdvj üscjdsiojüpo sdpojdspjpj+p sdcp +jsdp jpssafckbsakfbodsfsdfids  fhfd hfh</p>
                <a href="about.html" class="button">zur Diskussion</a>
            </div>

            <div class="large-2 cell"></div>

        </div>
    </div>

    <div class="large-3 cell"></div>

    <div class="large-3 cell"></div>

    <div class="large-6 cell mainshow">
        <h3>§ Kunst in der Öffentlichkeit</h3>

        <div class="grid-x">

            <div class="large-2 cell"></div>

            <div class="large-8 cell showparagraph">
                <h4>Gesetz</h4>
                <p>wueivbe nwvc wes rewijfo jfwjfopj jiof iowefJOEF Üw jfe 30q  wjf0dew0 f fj0 jg0ejrü a j fj<br>
                    cidosovidsov  osdjovisdaoj ids püwed psdhjvfv he8es  psac+pvj p psp csdpj cs jcj pcpj üs +jc+ <br>
                    divhbofdhv ds jscpjsdvj üscjdsiojüpo sdpojdspjpj+p sdcp +jsdp jpssafckbsakfbodsfsdfids  fhfd hfh</p>
                <a href="about.html" class="button">zur Diskussion</a>
            </div>

            <div class="large-2 cell"></div>

        </div>
    </div>

    <div class="large-3 cell"></div>
</div>

<!-- ***********************************************
FOOTER
************************************************ -->


<footer>
    <div class="grid-x">

        <div class="large-2 cell"></div>

        <div class="large-8 cell">
            <div class="grid-x">
                <div class="small-12 medium-4 large-4 cell text-center">
                    <h4>About</h4>
                    <hr>
                    <a>Kontakt</a>
                    <a>Impressum</a>
                    <a>feuchter schas</a>
                </div>

                <div class="small-12 medium-4 large-4 cell text-center">
                    <h4>projektus</h4>
                    <hr>
                    <a>erektus</a>
                    <a>projekt</a>
                    <a>apfel</a>
                </div>

                <div class="small-12 medium-4 large-4 cell text-center">
                    <h4>social Media</h4>
                    <hr>
                    <a>facebook</a>
                    <a>twitter</a>
                    <a>google drive</a>
                </div>
            </div>
        </div>

        <div class="large-2 cell"></div>

    </div>
</footer>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>
</html>