<template>
    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <p>Hier können alle über Sie gespeicherten Informationen heruntergeladen werden.</p>
            <div class="grid-x">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <h4>Zeitraum auswählen:</h4>
                    <input type="date" placeholder="Start-Datum:">
                    <input type="date" placeholder="End-Datum:">
                </div>
                <div class="large-3 cell"></div>
            </div>
            <div class="grid-x top-spacer">
                <div class="large-3 cell"></div>
                <div class="large-6 cell">
                    <div class="grid-x">
                        <div class="large-6 cell">
                            <h5 class="text-center">Gespeicherte Daten</h5>
                        </div>
                        <div class="large-6 cell center-download">
                            <button class="button comment-btn" click.trigger="submitDownload()">Download</button>
                        </div>
                    </div>

                </div>
                <div class="large-3 cell"></div>
            </div>
        </div>
        <div class="large-3 cell"></div>
    </div>
</template>
