<template>
    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <h2 class="titlecolor">Gemeldete Beiträge</h2>
            <p>Hier können gemeldete Beiträge administriert werden.</p>
        </div>
        <div class="large-3 cell"></div>

        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <h3 class="titlecolor">Gemeldete Kommentare</h3>
            
            

        </div>
        <div class="large-3 cell"></div>

        <div class="large-3 cell"></div>
        <div class="large-6 cell mainshow2">
            <h2 class="titlecolor">Gemeldete Beiträge</h2>
            <p>Hier können gemeldete Beiträge administriert werden.</p>
        </div>
        <div class="large-3 cell"></div>
    </div>
</template>
