<template>
    <div class="grid-x">
        <template repeat.for="dsc of discussions">
            <div class="large-3 cell"></div>

            <div class="large-6 cell mainshow">

                <h4 class="titlecolor">§ ${dsc.title}</h4>

                <div class="grid-x">

                    <div class="large-2 cell"></div>

                    <div class="large-8 cell showparagraph">
                        <h5>Gesetz</h5>
                        <p>${dsc.law_text}</p>
                        <a route-href="discussion; params.bind: { id: dsc.id }" class="button">zur Diskussion</a>
                    </div>

                    <div class="large-2 cell"></div>

                </div>
            </div>
            <div class="large-3 cell"></div>
        </template>
    </div>
</template>
