<template>
    <div class="grid-x">

        <div class="large-3 cell"></div>

        <div class="large-6 cell mainshow2 settingsPage">
            <h2 class="titlecolor">Einstellungen</h2>

            <p>Hier können Sie diverse Einstellungen vornehmen.</p>

            <section>
                <h3>Passwort ändern</h3>
                <form submit.trigger="submitChangePassword()" ref="pwForm">
                    <input type="password" value.bind="pwChangeData.old" placeholder="Altes Passwort" minlength="10" maxlength="72" required
                    />
                    <input type="password" value.bind="pwChangeData.new_" placeholder="Neues Passwort" minlength="10" maxlength="72" required
                        ref="pwInput" />
                    <input type="password" value.bind="pwChangeData.confirm_" placeholder="Neues Passwort wiederholen" required />
                    <input class="button" type="submit" value="Ändern" />
                </form>
            </section>

            <section>
                <h3>E-Mail-Adresse ändern</h3>
                <form submit.trigger="submitChangeEmail()" ref="emailForm">
                    <input type="text" value.bind="emailChangeData.email" placeholder="Neue E-Mail-Adresse" maxlength="254" required />
                    <input class="button" type="submit" value="Ändern" />
                </form>
            </section>

            <section>
                <h3>Datenschutz-Download</h3>
                <p>Hier können alle über Sie gespeicherten Informationen heruntergeladen werden.</p>
                <button class="button" click.trigger="gotoDownloadPrivacy()">Download-Seite öffnen</button>
            </section>

        </div>
        <div class="large-3 cell"></div>
    </div>
</template>
