<template>
    <require from="../resources/elements/notfound.html"></require>

    <template if.bind="isReady">

        <notfound if.bind="notFound" missing-thing-title="Benutzer" missing-thing="${id}"></notfound>

        <div else class="grid-x">
            <div class="large-3 cell"></div>

            <div class="large-6 cell mainshow2">
                <h2 class="titlecolor">$username ${id}</h2>
            </div>

            <div class="large-3 cell"></div>

        </div>

    </template>
</template>
