<template>

    <div class="grid-x">

        <div class="large-5 cell"></div>
        <div class="large-2 cell">
            <form>
                <div class="button-group round toggle">
                    <input type="radio" id="r1" name="r-group">
                    <label class="button btn-color" for="r1">Paragraph</label>
                    <input type="radio" id="r2" name="r-group">
                    <label class="button btn-color" for="r2">Kategorie</label>
                </div>
            </form>
        </div>
        <div class="large-5 cell"></div>

        <div class="large-3 cell"></div>

        <div class="large-6 cell mainshow2">
            <template repeat.for="t of tags">
                <h5 class="titlecolor">${t.name}</h5>
            </template>
        </div>
        <div class="large-3 cell"></div>

    </div>

</template>