<template>
    <footer>
        <div class="grid-x">

            <div class="large-2 cell"></div>

            <div class="large-8 cell">
                <div class="grid-x">
                    <div class="small-12 medium-4 large-4 cell text-center">
                        <h4 class="mobile_footer_bold">About</h4>
                        <a route-href="imprint">Impressum</a>
                        <a route-href="terms-of-service">Nutzungsbedingungen</a>
                        <a route-href="guide">Hilfe</a>
                    </div>
                    <hr class="mobile_footer_line">
                    <div class="small-12 medium-4 large-4 cell text-center mobile_footer">
                        <h4 class="mobile_footer_bold">Projekt</h4>
                        <a href="https://news.inter-act.net/" target="_blank">INTER!ACT-Blog</a>
                        <a href="https://news.inter-act.net/projekt-team/" target="_blank">Clemens Appl</a>
                        <a href="https://news.inter-act.net/projekt-team/" target="_blank">Elfriede Penz</a>
                    </div>
                    <hr class="mobile_footer_line">
                    <div class="small-12 medium-4 large-4 cell text-center mobile_footer">
                        <h4 class="mobile_footer_bold">Social Media</h4>
                        <a data-open="linkModal">Link</a>

                        <div class="reveal" id="linkModal" data-reveal>
                            <h1>Hier Könnte Ihr Link stehen!</h1>
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-2 cell"></div>

        </div>
    </footer>
</template>
