<template>
    <div>
        <div class="title-bar change-header-color" data-responsive-toggle="responsive-menu" data-hide-for="large">
            <button class="menu-icon" id="buttonstyler" type="button" data-toggle="responsive-menu">☰</button>
            <div class="title-bar-title center-logo">
                <a route-href="home">
                    <img src="images/INTER-ACT.png" height="5px" />
                </a>
            </div>
        </div>

        <div class="top-bar" id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu mobile_vertical" data-dropdown-menu>

                    <li class="mobile_nav">
                        <a route-href="home">
                            <img src="images/INTER-ACT.png" />
                        </a>
                    </li>
                    <!-- wenn angemeldet -->
                    <li if.bind="isLoggedIn" class="navbar">
                        <a class="navbar-as" route-href="dashboard">Dashboard</a>
                    </li>

                    <li class="navbar">
                        <a class="navbar-as" route-href="groups">Diskussionen</a>
                    </li>

                    <template if.bind="isAdmin">
                        <li class="navbar-admin">
                            <a class="navbar-as" route-href="create">Neu anlegen</a>
                        </li>
                        <li class="navbar-admin">
                            <a class="navbar-as" route-href="reports">Meldungen</a>
                        </li>
                        <li class="navbar-admin">
                            <a class="navbar-as" route-href="download">Downloads</a>
                        </li>
                        <li class="navbar-admin">
                            <a class="navbar-as" route-href="elevate">Rechteverwaltung</a>
                        </li>
                    </template>


                    <template if.bind="isScientist">
                        <li class="navbar-sozi">
                            <a class="navbar-as" href="#">Dashboard</a>
                        </li>

                        <li class="navbar-sozi">
                            <a class="navbar-as" route-href="groups">Diskussion</a>
                        </li>

                        <li class="navbar-sozi">
                            <a class="navbar-as" route-href="download">Downloads</a>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <!-- Suchoption -->
                    <li if.bind="isLoggedIn" class="mobile_nav">
                        <input type="search" placeholder="Search">
                    </li>
                    <li if.bind="isLoggedIn" class="mobile_nav">
                        <button type="button" class="button">Search</button>
                    </li>

                    <!-- LogIn/Registrierung Button-->
                    <li if.bind="!isLoggedIn">
                        <button type="button" class="button center-buttons" click.trigger="gotoLogin()">Anmelden</button>
                    </li>
                    <li if.bind="!isLoggedIn" id="nav-button">
                        <button type="button" class="button center-buttons" click.trigger="gotoSignup()">Registrieren</button>
                    </li>

                    <!-- Einstellungszahnrad -->
                    <li class="navbar">
                        <a id="zahnrad" if.bind="isLoggedIn">
                            <p><i class="fa fa-cog" aria-hidden="false"></i></p>
                        </a>
                        <ul class="menu">
                            <li>
                                <a route-href="settings" id="nav-spacer">Einstellungen</a>
                            </li>
                            <!--<li><a route-href="privacy">Datenschutz-Download</a></li>-->
                            <!-- Is accessible via settings -->
                            <li>
                                <a click.trigger="submitLogout()">Abmelden</a>
                            </li>
                            <!-- ... -->
                        </ul>
                    </li>
                    <!-- <a else route-href="auth">
                            <i class="fa fa-cog" aria-hidden="false"></i>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</template>
