<template>
    <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <a route-href="home">
                        <img src="images/INTER-ACT.png" height="15px" />
                    </a>
                    <li class="navbar">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="navbar">
                        <a route-href="discussions">Diskussion</a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <input type="search" placeholder="Search">
                    </li>
                    <li>
                        <button type="button" class="button">Search</button>
                    </li>
                    <li class="navbar">
                        <a click.trigger="submitLogout()">
                            <i class="fa fa-cog" aria-hidden="false"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
