<template>
    <div>
        <div class="title-bar change-header-color" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" id="buttonstyler" type="button" data-toggle="responsive-menu">☰</button>
            <div class="title-bar-title center-logo">
                <a route-href="home">
                    <img src="images/INTER-ACT.png" height="5px" />
                </a>
            </div>
        </div>

        <div class="top-bar" id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>

                    <li>
                        <a route-href="home">
                            <img src="images/INTER-ACT.png" height="15px" class="mobile_nav" />
                        </a>
                    </li>

                    <li if.bind="isLoggedIn" class="navbar">
                        <a href="#">Dashboard</a>
                    </li>

                    <li class="navbar">
                        <a route-href="discussions">Diskussion</a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <input type="search" placeholder="Search">
                    </li>
                    <li>
                        <button type="button" class="button">Search</button>
                    </li>
                    <li class="navbar">
                        <a if.bind="isLoggedIn" click.trigger="submitLogout()">
                            <i class="fa fa-cog" aria-hidden="false"></i>
                        </a>
                        <a else route-href="auth">
                            <i class="fa fa-cog" aria-hidden="false"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
