@import url('https://fonts.googleapis.com/css?family=Roboto');


.navbar a {
    top: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar i {
    transform: translateY(-100%);
    size: 2em;
}

.main {
    height: 630px;
    background-color: #E8E8E8;
    padding: 30px 30px;
    margin: 20px 0px;
}

.mainshow{
    height: 300px;
    background-color: #ffffff;
    padding: 30px 30px;
    margin: 20px 0px;
}

.mainshow2{
    height: auto;
    background-color: #ffffff;
    padding: 30px 30px;
    margin: 20px 0px;
}

.comment{
    height: auto;
    background-color: #ffffff;
    padding: 30px 30px;

}

.showparagraph{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
}

.titlecolor{
    color: #1468a0;

}

.menu-icon::after{
    display: none;
}

#buttonstyler{
    font-size: 40px;
    color: #1468a0;

    top: -60%;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
}

.unorder-list{
    list-style: none;
}


body {
    position: relative;
    min-height:100vh;
    padding-bottom: 215px;
    background-color: #ebebeb;
}

/*
REAKTIONS
 */








footer{
    background-color: #3b3b3b;
    padding: 50px 0px;

    position:absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
}

footer a {
    display: block;
    color: #fff;
    font-size: 1em;
}

footer a:hover {
    color: #1468a0;
}

footer h4 {
    color: #fff;
}

/*
#################################################
REAKTIONS BUTTONS
#################################################
*/
.btn-group button {
    background-color: white; /* Green background */
    border: 1px solid #1468a0; /* Green border */
    color: #1468a0; /* White text */
    padding: 0px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    height: 30px;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group {
    border-radius: 15px;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #1468a0;
    color: white;
}
.btn-group button:focus {
    background-color: #1468a0;
    color: white;
}

.bottom-spacer{
    margin-bottom: 10px;
}

/*

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
 */

.center-logo{
    margin-left: auto;
}

.change-header-color{
    background-color: #f6f6f6;
}

.top-bar{
    background-color: #f6f6f6;
}

.top-bar ul{
    background-color: #f6f6f6;
}

menu-icon {
    -webkit-box-shadow: 0 10px 0 1px #1468a0, 0 16px 0 1px #1468a0, 0 22px 0 1px #1468a0;
    box-shadow: 0px 10px 0px 1px #1468a0, 0px 16px 0px 1px #1468a0, 0px 22px 0px 1px #1468a0;
}

@media screen and (max-width: 640px)
{
    .mobile_nav {
        display: none;
    }

    .mobile_footer{
        margin-top: 30px;
    }

    .mobile_footer_bold{
        font-weight: bolder;
    }

    .navbar a {
        top: -15%;
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        transform: translateY(-15%);
        font-size: 1.2em;
        margin-left: 20px;
    }

    body{
        padding-bottom: 470px;
    }

    .navbar i {
        transform: translateY(25%);
        size: 2em;
    }
}





