.navbar a {
    top: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar i {
    transform: translateY(-100%);
    size: 2em;
}

.main {
    height: 630px;
    background-color: #E8E8E8;
    padding: 30px 30px;
    margin: 20px 0px;
}

footer {
    background-color: #3b3b3b;
    padding: 50px 0px;
}

footer a {
    display: block;
    color: #fff;
    font-size: 1em;
}

footer a:hover {
    color: deeppink;
}

footer h4 {
    color: #fff;
}
