@import url('https://fonts.googleapis.com/css?family=Roboto');


.navbar-as {
    /* top: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    font-size: 1.2em;
    margin-left: 20px;*/

    top: 80%;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%);
    font-size: 1.2em;
    margin-left: 20px;
}

#zahnrad{
    top: 15%;
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
    transform: translateY(15%);
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar-admin a {
    top: 80%;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%);
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar-sozi a {
    top: 80%;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%);
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar i {
    transform: translateY(-75%);
    size: 2em;
}

#nav-button{
    margin-left: 5px;
    margin-right: 10px;
}

.main {
    height: 630px;
    background-color: #E8E8E8;
    padding: 30px 30px;
    margin: 20px 0px;
}

.mainshow{
    height: 300px;
    background-color: #ffffff;
    padding: 30px 30px;
    margin: 20px 0px;
}

.mainshow2{
    height: auto;
    background-color: #ffffff;
    padding: 30px 30px;
    margin: 20px 0px;
}

.comment{
    height: auto;
    background-color: #ffffff;
    padding: 30px 30px;

}

.comment-line{
    border-left: solid 1px black;
    padding-left: 10px;
}

#amendent{
    padding-left: 20px;
    color: dimgrey;
}


.showparagraph{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
}

.titlecolor{
    color: #1468a0;

}

.menu-icon::after{
    display: none;
}

#buttonstyler{
    font-size: 40px;
    color: #1468a0;

    top: -60%;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
}

.unorder-list{
    list-style: none;
}


body {
    position: relative;
    min-height:100vh;
    padding-bottom: 215px;
    background-color: #ebebeb;
}


footer{
    background-color: #3b3b3b;
    padding: 50px 0px;

    position:absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
}

footer a {
    display: block;
    color: #fff;
    font-size: 1em;
}

footer a:hover {
    color: #e9300b;
}

footer h4 {
    color: #fff;
}


.comment-btn{
    background-color: #E8E8E8;
    color: #e9300b;
}

.comment-btn:hover{
    background-color: #e9300b;
    color: #ffffff;
}

.center-download{
    text-align: center;

}

/*
#################################################
REAKTIONS BUTTONS
#################################################
*/
.button-group input {
    display: none;

}

.button-group input:checked + label,
.button-group input:checked + label:active {
    background-color: #e9300b;
    color: #ffffff;
}

.btn-color{
    background-color: #E8E8E8;
    color: #e9300b;
    width: 105px;
}

.button-group label:hover{
    background-color: #e9300b;
    color: #ffffff;
}

.top-spacer{
    margin-top: 20px;
}

/*

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
 */

form.authForm input, .settingsPage section input {
    max-width: 50%;
}

form.authForm fieldset label {
    max-width: 20%;
}

form.authForm fieldset input:not(:checked) + label {
    background: #DDD;
    color: #000;
}

form.childPageSwitch {
    margin-bottom: 5vh;
}

form.childPageSwitch div {
    display: flex;
    justify-content: center;
}

form.childPageSwitch div label {
    width: 50%;
}

/*.userProfile p:first-of-type {
    text-align: right;
    margin-bottom: 2px;
    font-style: italic;
}*/

.userProfile button.reportButton {
    background: #e9300b;
    float: right;
}

.userProfile h3 {
    font-size: x-large;
}

.userProfile ul, .elevatePage ul {
    list-style: none;
}

.settingsPage section {
    margin-top: 40px;
}

.center-logo{
    margin-left: auto;
}

.change-header-color{
    background-color: #f6f6f6;
}

.top-bar{
    background-color: #f6f6f6;
}

.top-bar ul{
    background-color: #f6f6f6;
}

.replyCommentsHost {
    margin-left: 5%;
}

menu-icon {
    -webkit-box-shadow: 0 10px 0 1px #1468a0, 0 16px 0 1px #1468a0, 0 22px 0 1px #1468a0;
    box-shadow: 0px 10px 0px 1px #1468a0, 0px 16px 0px 1px #1468a0, 0px 22px 0px 1px #1468a0;
}

@media screen and (max-width: 640px)
{
    .mobile_nav {
        display: none;
    }

    .mobile_footer{
        margin-top: 30px;
    }

    .mobile_footer_bold{
        font-weight: bolder;
    }

    .navbar a {
        /*top: -15%;
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        transform: translateY(-15%);
        font-size: 1.2em;
        margin-left: 5px;*/

        top: -40%;
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
        font-size: 1.2em;
        margin-left: 5px;
    }

    .navbar-admin a {
        top: -40%;
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
        font-size: 1.2em;
        margin-left: 5px;
    }

    .navbar-sozi a {
        top: -40%;
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
        font-size: 1.2em;
        margin-left: 1px;
        padding: .2rem 0.7rem;
    }

    #zahnrad{
        top: -10%;
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        transform: translateY(-10%);
        font-size: 1.2em;
        margin-left: 20px;
    }

    .center-buttons{
        margin-left: 85%;
        padding: .7rem 1rem;
    }


    body{
        padding-bottom: 470px;
    }

    .navbar i {
        transform: translateY(25%);
        size: 2em;
    }

    form.authForm input, form.authForm fieldset label, .settingsPage section input {
        max-width: 100%;
    }

    .elevatePage ul li {
        border-bottom: 1px solid #1468a0;
        margin-bottom: 5px;
    }
}
